body{
        margin: 0;
        top: 0;
        background-color: rgb(133, 164, 154);     
}
#navbar{
        border: 2px solid black;
}
.one{
        display: flex;
        /* justify-content: space-around; */
        /* justify-content: flex-end; */
        justify-content: center;
}
.one li,a{
        
        list-style: none;
        text-decoration: none;
        color: black;
        padding: 10px;
}
.one li a:hover{
        text-decoration: underline;
        color: greenyellow;
}

#container{
        border: 2px solid black;
        border-radius: 10px;
        margin: 100px 400px;
        height: 350px;
        align-items: center;
        padding: 22px;
}
button{
        display: block;
        margin: 10px 20px;
        padding: 10px 20px;
        background-color: rgb(27, 27, 198);
        color: chartreuse;
        font-size: 16px;
}
button:hover{
        color: red;
        cursor: pointer;
}